<p>Willkommen zu deinem diesjährigen Adventskalender. Jeden Tag erwartet dich ein neues Rätsel und als Belohnung schaltest du auch immer wieder einen neuen Teil einer Geschichte, die ich dir geschrieben habe, frei.</p>

<p>Diese Seite ist nicht für mobile Nutzung optimiert und nutzt den Lokalen Cache um den Fortschritt zu speichern. Um die Rätseltour neu zu starten, musst du deine Cookies (für diese Seite) leeren.</p>

<p><i>Manchmal verbinden Zahlen mehr als alles andere auf der Welt.</i></p>

<input type="password" class="input" id="input"> <div class="button" id="submit">Eingeben</div>
